// Custom styles.

//首页文章阴影样式
//.post {
//  margin-top: 60px;
//  margin-bottom: 60px;
//  padding: 25px;
//  -webkit-box-shadow: 0 0 14px rgba(202, 203, 203, .5);
//  -moz-box-shadow: 0 0 14px rgba(202, 203, 204, .5);
//}

.headband {
  height: 0.1px;
}

.header-inner {
  padding-bottom: 60px;
}

.content {
    padding-top: 40px;
}

body {
    background: #333;
}

.posts-expand .post-title {
    font-size: 22px;
}

p {
    color: #bbb;
    font-size: 15px;
}

.posts-collapse .post-title a {
  color: #eee;
}

.menu-item-active a {
  color: #000;
}

.sidebar {
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.7);
}

.sidebar-inner {
  margin-top: 30px;
}

.site-author-image {
  border: 0px solid rgb(255, 255, 255);
  //border-radius: 100%;
  //transition: transform 1.0s ease-out;
}

//img:hover {
//  transform: rotateZ(360deg);
//}
//.posts-expand .post-body img:hover {
//  transform: initial;
//}

.site-description {
  letter-spacing: 5px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 13px;
  color: rgb(243, 112, 85);
}

.feed-link a {
    display: contents;
}

//图片外部的容器方框
.out-img-topic {
  display: block;
  max-height:300px;
  margin-bottom: 0;
  overflow: hidden;
}

//图片
img.img-topic {
  display: inline-block;
  margin-left: .7em;
  margin-right: .7em;
  padding: 0;
  float: none;
  clear: right;
}

.posts-expand .post-body img {
  border: 0;
  margin: 0 auto 0;
}

.posts-expand .post-meta {
  color: #999;
}

.footer {
  padding-top: 100px;
}
